:root {
  --history: rgb(163, 192, 0); /* mostaza verdoso - bien legible */
  --science: rgb(9, 185, 0); /* verde intenso */
  --geography: rgb(249, 78, 78); /* rojo fuerte */
  --art: rgb(236, 106, 0); /* naranja vivo */
  --general: rgb(32, 163, 251); /* azul claro saturado */
  --mythology: rgb(166, 86, 253); /* violeta vibrante */
}

/* Variables SASS */
